@{
    ViewBag.Title = "Home Page";
}

<div class="title-big">
    <img src="/Img/logo.png" stytle="width:100px" />
    Nadia's Garden Restaurant
</div>

<div>
    <div id="foodorder" style="border: 0px solid red">

    </div>
</div>

<script src="~/dist/bundle.js"></script>